/**
* create by rxy
*/

/**
* 行内表单
*/
.anchu-inner-table{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #D0D0D0;
	border-radius: 4px 4px 4px 4px;
}
.anchu-inner-head{
	margin: 20px;
	padding: 0 20px 20px 20px;
	border: 1px solid #D0D0D0;
	border-radius: 4px 4px 4px 4px;
}
.anchu-search-wrap{

}
.anchu-search-condition{
	display: inline-block;
	padding:10px 0;
}
.anchu-search-condition .anchu-search-name{
	margin-right: 12px;
}
.anchu-head-title{
	width: 100%;
	margin-top: 20px;
	font-size: 18px;
	font-weight: normal;
	color: #494949;
}
.anchu-head-title .addUser{
	font-size:14px;
	width:98px;height:28px;
	background-color: #fff;
	border-radius:3px;
	cursor: pointer;
	font-family: PingFangSC-Regular;
	color: #375D77;
	border: none;
}
.anchu-inner-content{
	margin: 20px;
	/*padding: 20px;*/
	/*border: 1px solid #D0D0D0;*/
	font-size: 14px;
	border-radius: 4px 4px 4px 4px;
}

/**
* 典型表单
*/
.anchu-normal-table{
	width: 730px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
}
.anchu-normal-title{
	height: 44px;
	line-height: 44px;
	padding-left: 30px;
	margin:0;
	font-size: 14px;
	font-weight: normal;
	background: #EEEFF6;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #D0D0D0;
}
.anchu-normal-content{
	padding: 0 30px;
}
/**
* 带选择项的表格
*/
.anchu-select-table{
	
}
/**
* 分页器
*/
.anchu-page{
	text-align: center;
	margin-top: 50px;
	font-size: 14px;
}
.page-info{
	margin-left: 20px;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #494949;
}
/**
* 文档
*/
.anchu-doc{
	width:900px;
	min-height:1000px;
	background:#fff;
	margin: 20px auto 50px;
	box-shadow: 0 0 8px 2px rgba(231,231,231,0.50) ;
	padding:26px 34px;
	font-family: "microsoft yahei";
}
.anchu-doc-title{
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 20px;
	color: #494949;
	font-family:"PingFangSC-Regular";
}
.anchu-doc-info{
	padding:12px 0;
	border-bottom: 1px solid #CCCCCC;
}
.anchu-doc-option{
	margin:17px 0;
}
.anchu-doc-name{
	display: inline-block;
	width: 70px;
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	color: #494949;
}
.anchu-doc-value{
	height: 20px;
	display: inline-block;
	padding:2px 10px;
	border-radius: 10px;
	background: #EEEFF6;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #6F7E95;
}
.anchu-doc-content{
	margin:26px 0 20px 0;
}
.anchu-doc-msg{
	margin: 26px 0 20px 0;
	line-height: 26px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #494949;
}